<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094634165790-1f3ksglnar3994ctgbdataofv50lsvnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094634165790-1f3ksglnar3994ctgbdataofv50lsvnr</string>
	<key>API_KEY</key>
	<string>AIzaSyDr5v--ecAPZUENDgZ5aykhJJFD8hZYNGY</string>
	<key>GCM_SENDER_ID</key>
	<string>1094634165790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Arth.GaitView</string>
	<key>PROJECT_ID</key>
	<string>gaitview-c403a</string>
	<key>STORAGE_BUCKET</key>
	<string>gaitview-c403a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094634165790:ios:d528b7a7efcdb9e8ac800f</string>
	<key>DATABASE_URL</key>
	<string>https://gaitview-c403a.firebaseio.com</string>
</dict>
</plist>